<section class="subscribe-section">
    <div class="header-2">
        <h2><span class="header-2_accent">Subscribe</span>for tips & Offers</h2>
        <p>
            We regularly knock our customers with useful tips and offers.
        </p>
    </div>
    <div class="subscribe-section__container">
        <div class="subscribe-section__form">
            <input type="text" placeholder="Enter Your Email"/>
            <input type="submit" value="Subscribe">
        </div>
    </div>
</section>