<section class="testimonials-section">
    <div class="header-2">
        <h2><span class="header-2_accent">Client</span>Testimonials</h2>
        <p>
            Don’t forget to check these real success.
        </p>
    </div>
    <div class="testimonials-section_glide">
        <div class="glide__track" data-glide-el="track">
            <ul class="glide__slides">
                @for (int i = 0; i < 3; i++)
                {
                <li class="glide__slide">
                    <p class="testimonials-section_testimonial-text">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
                        Ut wisi enim ad minimveniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip. sed diam nonummy nibh euismod.
                    </p>
                    <div class="testimonials-section_testimonial-author">
                        <svg style="width: 90px;" viewBox="0 0 1 1">
                            <image class="clip-svg" xlink:href="/assets/images/alena-parker.jpg" height="1" width="1" />
                        </svg>
                        <div class="author-info">
                            <p class="author-info_name">Alena Parker</p>
                            <p class="author-info_address">Sydney, Australia</p>
                        </div>
                    </div>
                </li>
                }
            </ul>
        </div>
        <div class="glide__bullets" data-glide-el="controls[nav]"></div>
    </div>
</section>