<section class="features-section">
    <div class="header-2">
        <h2><span class="header-2_accent">Features</span>We offer</h2>
        <p>
            Don’t forget to check these real success.
        </p>
    </div>
    <div class="features-section_container">
        <div class="features-section_feature">
            <div class="accent">
                Increased energy
            </div>
            <p class="caption">
                Lorem ipsum dolor sit amet, consec tetuer adipiscing elit, sed diam nonu 
            </p>
        </div>
        <div class="features-section_feature">
            <div class="accent">
                Bone builder
            </div>
            <p class="caption">
                Lorem ipsum dolor sit amet, consec tetuer adipiscing elit, sed diam nonu 
            </p>
        </div>
        <div class="features-section_feature">
            <div class="accent">
                Weight loss
            </div>
            <p class="caption">
                Lorem ipsum dolor sit amet, consec tetuer adipiscing elit, sed diam nonu 
            </p>
        </div>
        <div class="features-section_feature">
            <div class="accent">
                Stress release
            </div>
            <p class="caption">
                Lorem ipsum dolor sit amet, consec tetuer adipiscing elit, sed diam nonu 
            </p>
        </div>
        <div class="features-section_image-wrapper">
            <img src="/assets/images/customers.png" alt="customers">
        </div>
    </div>
</section>