<div class="contact-section">
    <div class="header-2">
        <h2><span class="header-2_accent">Inquire</span>Your issue</h2>
        <p>
            We’re always happy to reply our customers. 
        </p>
    </div>
    <form class="issue-form">
        <input class="issue-form__name" type="text" placeholder="Name"/>
        <input class="issue-form__email" type="text" placeholder="Email"/>
        <input class="issue-form__subject" type="text" placeholder="Subject"/>
        <textarea class="issue-form__issue-text"></textarea>
        <input type="submit" value="Send" class="button">
    </form>
</div>