<section class="facts-section">
    <div class="facts-section_background">
        <div class="facts-section_container">
            <div class="facts-section_bottle">
                <img src="/assets/images/bottle.png" alt="bottle">
            </div>
            <div class="facts-section_facts-wrapper">
                <ul class="facts-section_facts">
                    <li class="fact">
                        <div class="fact_number">100</div>
                        <div class="fact_units">mg</div>
                        <div class="fact_caption">Per Capsule</div>
                    </li>
                    <li class="fact">
                        <div class="fact_number">60</div>
                        <div class="fact_units">capsules</div>
                        <div class="fact_caption">Per Bottle</div>
                    </li>
                    <li class="fact">
                        <div class="fact_number">900</div>
                        <div class="fact_units">plus</div>
                        <div class="fact_caption">Satisfied Customers</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>