<header class="header-section">
    <div class="header-section_menu">
        <div class="header-section_logo">
            <img src="/assets/images/logo.svg" alt="supplement">
            <span>Supplement</span>
        </div>
        <button id="hamburger" class="hamburger hamburger--squeeze" type="button">
            <span class="hamburger-box">
                <span class="hamburger-inner"></span>
            </span>
        </button>
    </div>
    <div class="header-section_call-to-action">
        <h1 class="header-section_header"><span class="accent">Do it now</span>Or You Never Get it Back</h1>
        <p class="header-section_text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</p>
        <div class="header-section_buttons">
            <a href="#" class="button" tabindex="0">Order now</a>
            <a href="#" class="header-section_video-link" tabindex="0">Watch the video <i class="fa fa-play-circle-o"></i></a>
        </div>
    </div>
    <div class="header-section_showcase">
        <div class="header-section_bottles-wrapper">
            <img src="/assets/images/bottles.png" alt="bottles">
        </div>
    </div>
</header>