<section class="buynow-section">
    <div class="buynow-section__supplement-img-wrapper">
        <img class="buynow-section__supplement-img" src="/assets/images/supplement.png" alt="supplement">
    </div>
    <div class="buynow-section__call-to-action">
        <div class="buynow-section__header">
            <div class="_accent">A supplement</div>
            <div class="_cost">$29 usd</div>
        </div>
        <p class="buynow-section__text">Lorem ipsum dolor sit amet, consectetuer adipis cing elit, sed diam nonummy nibh euismod tincidu nt ut laoreet.</p>
        <a href="#" class="button" tabindex="0">Order now</a>
    </div>
</section>